
<ion-content class="ion-pading background" >
  <div class="form">
    <span class="log">
      <ion-icon name="person-circle"></ion-icon>
    </span>
    <!-- NAME -->

    <ion-item lines="none" color="none">
      <ion-icon name="person-circle-outline" class="monicon" ></ion-icon><ion-label class="addtext" color="light">Name</ion-label>
      <ion-input color="light" class="input-field "placeholder="Votre nom complet" [(ngModel)]='name'></ion-input>
    </ion-item>
   <!-- EMAIL -->
    <ion-item lines="none" color="none">
 
    <ion-item lines="none">
      <ion-icon name="person-circle-outline" class="monicon"></ion-icon><ion-label class="addtext" color="light">Name</ion-label>
      <ion-input color="light" class="input-field " placeholder="Votre nom complet" [(ngModel)]='name'></ion-input>
    </ion-item>
   <!-- EMAIL -->
    <ion-item lines="none">
 
      <ion-icon name="mail-outline" class="monicon"></ion-icon><ion-label class="addtext" color="light">Email</ion-label>
      <ion-input color="light" class="input-field" placeholder="Votre email" [(ngModel)]='email'></ion-input>
    </ion-item>
    <!-- ADRESSE -->
 
    <ion-item lines="none" color="none">
 
    <ion-item lines="none">
 
      <ion-icon name="location-outline" class="monicon"></ion-icon><ion-label class="addtext" color="light">Adresse</ion-label>
      <ion-input color="light" class="input-field" placeholder="Votre adresse" [(ngModel)]='adresse'></ion-input>
    </ion-item>
    <!-- TELEPHONE -->
 
    <ion-item lines="none" color="none">
      <ion-icon name="call-outline" class="monicon"></ion-icon><ion-label class="addtext" color="light">Telephone</ion-label>
      <ion-input color="light" class="input-field" placeholder='+221778650096'></ion-input>
    </ion-item>
    <ion-item lines="none" color="none">
      <ion-icon name="lock-closed-outline" class="monicon"></ion-icon><ion-label class="addtext" color="light">Password</ion-label>
      <ion-input color="light" class="input-field" placeholder="Mot de passe" [(ngModel)]='password'></ion-input>
    </ion-item>
    <ion-button  (click)='signup()' expand='block' class="btn" shape="round" color="light" >S'inscrire</ion-button>
  </div>
  <div>
    <h5 (click)='signup()'>Aller a la page de connexion pour <ion-text color='primary' routerLink="/se-connecter" class="login">Se connecter</ion-text>
 
    <ion-item lines="none">
      <ion-icon name="call-outline" class="monicon"></ion-icon><ion-label class="addtext" color="light">Telephone</ion-label>
      <ion-input color="light" class="input-field" placeholder='+221778650096'></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="lock-closed-outline" class="monicon"></ion-icon><ion-label class="addtext" color="light">Password</ion-label>
      <ion-input color="light" class="input-field" placeholder="Mot de passe" [(ngModel)]='password'></ion-input>
    </ion-item>
    <ion-button (click)='signup()' expand='block' class="btn" shape="round" size="large" color="light">Signup</ion-button>
  </div>
  <div>
    <h5 (click)='signup()'>Aller a la page de connexion <ion-text color='primary' routerLink="/se-connecter">Se connecter</ion-text>

    </h5>
  </div>
</ion-content>