.image {
    height: 300px;
    width: 100%;
}
.btnSeconnecter{
    background-color: blue;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 13px;
}
.prixLieu {
    display:flex ;
    justify-content: space-between;
}

.price {
    background-color: rgba(51, 160, 133, 0.082);
    padding: 2%;
    border-radius: 10px;
}   