// / Centrer le formulaire
.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 85%;
 }
 ion-content.background {
     font-family: poppins;
     --background: url('/assets/img/darkback.jpg ') no-repeat center / cover fixed;
 }
 .log {
     color: #fff;
     font-size: 100px;
     margin-top: 30px;
     display: block;
     text-align: center;
 }
 .addtext {
     font-size: 17px;
 }
 
 .btn {
     margin-top: 50px;
 }
 .monicon {
     margin-right:10px;
     color: #fff;
 }
 h5 {
     color: #fff;
     text-align: center;
 }
 ion-item {
     margin-bottom: 15px;
 }
 h5 span {
     display: block;
     width: 40%;
     margin: auto;
     text-align: center;
     margin-top: 15px;
     border: 1px solid #fff;
     border-radius: 20px;
     color: #fff;
     padding: 5px 15px;
 }

 ion-list {
    background-color: rgba(0, 0, 0, 0.555);
    margin: 0;
    padding: 0;
 }