
<ion-content>
  <div class="box">
    <div class="text">
      <ion-button shape="round" color="light">
        <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
        Profile</ion-button>
      <ion-button shape="round" color="light">Edit Profile</ion-button>
    </div>
    <div class="box-img">
      <img src="/assets/img/sasuke.png">
      <h1>Sasuke Ichiwa</h1>
    </div>
    <div class="btn">
      <ion-button shape="round" color="light">publications</ion-button>
      <ion-button shape="round" color="light">deconnexion</ion-button>
    </div>

  </div>
</ion-content>
