.price {
    color:blue;
    font-size: 18px;
}

.myGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mycol {
    margin: 60px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.favoris {
    font-size: 20px;
}

// the two buttons
.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}