<ion-header>
  <ion-toolbar>
    <ion-title>description</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://i.pinimg.com/564x/44/a3/07/44a307d15c9dc5f1ca4c341389ced609.jpg" class="image">
  <ion-grid class="myGrid" >
    <ion-row>
      <ion-col class="mycol">
        <span class="price">
          300000FCFA
        </span>
      </ion-col>
      <ion-col class="mycol">
        <ion-icon name="heart" class="favoris"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h2>Description</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora debitis quae molestiae veritatis non deleniti suscipit doloribus facere dolor, sint temporibus nihil
  </p>
  <ion-item-options slot="end">
    <ion-item-option>
      <ion-icon name="call"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-content>
